body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

#popup-container {
  text-align: center;
}

h1 {
  font-size: 18px;
  color: #333;
}

#changeValueBtn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#changeValueBtn:hover {
  background-color: #45a049;
}
